title: "INET" # the name of your site, e.g. ACME Corp.
logo: images/inet-image.png
tagline: ""
email: ""
description: INET
# description: >- # this means to ignore newlines until "baseurl:"
#  Bio
author: INET
# url: https://inet-tub.github.io # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/" # the subpath of your site, e.g. /blog
google_analytics:
twitter:
  username: ct_inet
  card: summary #keep this to generate a twitter share card
gems:
  - jekyll-scholar

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll/scholar
scholar:
  style: _bibliography/bibStyle.csl
  locale: en

  sort_by: year, month
  order: descending

  group_by: none
  group_order: descending

  source: ./_bibliography
  bibliography: references.bib
  bibliography_template: "{{bibliography}}"

  replace_strings: true
  join_strings:    true

  use_raw_bibtex_entry: true

  bibtex_skip_fields:
    - abstract
    - month_numeric
    - status # All tags below are custom tags I use for organizing the publications page
    - tag 
    - paper
    - poster
    - code
    - video
    - videocontd
    - supervisors
    - location
    - group
    - slides

  details_dir:    bibliography
  details_layout: bibtex.html
  details_link:   Details

  query: "@*"


  # Sections on the "people" page.
roles:
  - key: faculty
    name: Faculty
  - key: staff
    name: Staff
  - key: postdoc
    name: Researchers
  - key: grad
    name: Graduate Students
  - key: ugrad
    name: Undergraduate Students
  - key: ugrad-alum
    name: Past Undergraduate Students
  - key: collab
    name: Collaborators
  - key: alum
    name: Alumni
