<nav class="navbar navbar-expand-lg navbar-dark bg-redgradient sticky-nav" > 
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        {% for item in site.data.navbar %}

        {% unless item.drop %}
        <li class="nav-item ">
          <a class="nav-link" href="{{item.link}}">{{item.name}}</a>
        </li>
        {% endunless %}
        
        {% if item.drop %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{item.name}}</a>
          <div class="dropdown-menu" style="background-color: #ddd;"  >
        {% for dropitem in item.drop %}
            <a class="dropdown-item"  href="{{dropitem.link}}">{{dropitem.name}}</a>
            {% if dropitem.breakline %}
             <div class="dropdown-divider"></div>
            {% endif %}
        {% endfor %}
        </li>
        {% endif%}
        
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<br>